.toggle {
  align-items: center;
  color: #3590f5;
  display: flex;
  font-size: 14px;
  gap: 10px;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 20px;
}

.switch-toggle {
  display: inline-block;
  height: 20px;
  margin-left: 10px;
  position: relative;
  width: 40px;
}

.slider {
  background-color: #cacaca;
  border-radius: 50px;
  cursor: pointer;
  inset: 0;
  position: absolute;
  transition: 0.4s;
}

.switch-toggle input {
  height: 0;
  opacity: 0;
  width: 0;
}

.slider:before {
  background-color: white;
  border-radius: 50px;
  bottom: 4px;
  content: '';
  height: 12px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 12px;
}

input:checked + .slider {
  background-color: #3590f5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3590f5;
}

input:checked + .slider:before {
  transform: translateX(20px);
}
